page-list {

}

.myList {
  background-color: #66D7D1;
  text-decoration: none;
  text-align: left;
  width: 100%;
}

ion-list.list {
    background-color: #FFF87F;
}

.list-group-item {
    background-color: #FFF87F;
    width: 100%;
    border-color:  #66D7D1;
    padding: 1em;
}